.card {
    perspective: 1000px;
}

.cardInner {
    position: relative;
    width: 100px;
    height: 150px;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.card.flipped .cardInner {
    transform: rotateY(180deg);
}


.cardFront, .cardBack {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.cardBack {
    background: #ccc;
    transform: rotateY(180deg);
}